body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:white;
}
header {
    background-color: rgba(122, 153, 255, 0.288);
    width: 100%;
    padding: 40px;
    color: rgb(0, 0, 0);
    background-color: pink;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 20px 40px black;
}

header h1, header h4 {
    color: rgb(0, 0, 0);
    margin-left: 200px;
}
header img {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 130px;
    height: 130px; 
    float: left; 
    margin-top: -10px;
    margin-left: 30px;

}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 20px 40px black;
}

section {
    margin-bottom: 20px;
}

h1, h2, h3, h4 {
    color: #333;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

h4 {
    font-size: 16px;
    margin-bottom: 5px;
}

p, li {
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
}


